.f-poppins {
  font-family: "Poppins", sans-serif;
}
.f-raleway {
  font-family: "Raleway", sans-serif;
}

.text--accent {
  color: #bf00ff !important;
}
.text--secondary {
  color: #f2874e !important;
}
.text--grey {
  color: #88848a !important;
}

.ajs__img--w80 {
  width: 80px;
}