@import "_color";

.f-poppins {
  font-family: "Poppins", sans-serif;
}
.f-raleway {
  font-family: "Raleway", sans-serif;
}

.text--accent {
  color: $accent !important;
}
.text--secondary {
  color: $secondary !important;
}
.text--gray {
  color: $gray !important;
}

.wpx--80 {
  width: 80px;
}